.parentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  max-width: 300px;
  margin-bottom: 100px;
}

img {
  width: 100%;
  height: auto;
}

.addQuantity,
.removeQuantity {
  border-style: none;
  background-color: rgb(181, 197, 161);
  border-radius: 5px;
  height: 30px;
  width: 25px;
}

button:hover {
  background-color: rgb(136, 168, 124);
}

.productName {
  font-weight: bold;
  font-size: 25px;
}

input {
  width: 50px;
}
