.navbar {
  width: 100%;
  height: 50px;
  padding-bottom: 50px;
  background-color: rgb(150, 168, 138);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span {
  margin-left: 20px;
  color: white;
  font-weight: bolder;
  font-size: 30px;
}

.links {
  margin-right: 40px;
  display: flex;
  align-items: center;
}

.links a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 25px;
}
