.parentProductContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 50px;
  width: 100%;
  margin-bottom: 100px;
}

img {
  width: 100%;
  height: auto;
}

.addToCartBtn {
  border-style: none;
  background-color: rgb(193, 209, 196);
  border-radius: 10px;
  height: 30px;
  width: 100px;
}

.addToCartBtn:hover {
  background-color: rgb(136, 168, 124);
}

.productName {
  font-weight: bold;
  font-size: 25px;
}

.info {
  background-color: rgb(250, 250, 250);
}

.infoBtn {
  border: none;
  background-color: white;
  padding: 0;
  color: rgb(202, 147, 147);
}

.infoBtn:hover {
  background-color: white;
  color: black;
}
