.searchBar {
  display: flex;
  gap: 5px;
  margin: 50px auto;
  width: 400px;
}

.btn {
  background-color: rgb(193, 209, 196);
  border-style: none;
}

.btn:hover {
  background-color: rgb(136, 168, 124);
}

.noResultsFound {
  display: flex;
  justify-content: center;
}

.products {
  width: 300px;
}
