.totalPrice {
  display: flex;
  font-size: 20px;
  margin-bottom: 20px;
  margin-left: 60px;
}

.cartName {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: bold;
}
