.continueShop {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  background-color: rgb(192, 197, 186);
  padding: 5px;
  width: 155px;
  border: none;
  border-radius: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.continueShop a {
  text-decoration: none;
  color: black;
}

.continueShop:hover {
  background-color: rgb(178, 196, 171);
}

.totalPrice {
  display: flex;
  font-size: 20px;
  margin-bottom: 20px;
  margin-left: 60px;
}

.cartName {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.emptyCart {
  display: flex;
  justify-content: center;
}
